.tableForm {
  width: 62rem;
  height: 25.6rem;
  border-radius: 0.8rem;
  background-color: $white;
  gap: 3rem;
  padding: 2.8rem;
  @include column-flexbox(center, between);
}

.dashboardTitle {
  font-size: 2rem;
  font-weight: 700;
  gap: 30.4rem;
  @include flexbox;
}

.dashboardInputBox {
  gap: 1rem;
  @include column-flexbox(center, start);
}

.label {
  font-size: 1.8rem;
  font-weight: 500;
}

.dashboardInput {
  width: 56.4rem;
  height: 4.8rem;
  border-radius: 0.6rem;
  border: 1px solid $gray-200;
  background-color: $white;
  font-size: 1.6rem;
  padding-left: 1.6rem;
}

.editButton {
  @include flexbox(end);
}
