.gnb {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 16px 80px;
  color: $black-200;
}

.gnbContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  padding: 4px 2px 0 4px;
}

.logoText {
  @media (max-width: 375px) {
    display: none;
  }
}

.authContainer {
  display: flex;
  gap: 36px;
}
